@media (min-width: 500px) {
  .additional-info {
    font-size: 2em; }
  section {
    width: 400px; }
  .images-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px; }
    .images-menu p {
      font-size: 20px; } }
