@media (min-width: 700px) {
  .images-menu {
    grid-template-columns: 1.7fr 2fr 1.7fr;

    image {
      p {
        font-size: 20px;
      }
    }
  }

  .module {
    width: 600px;
  }

  .section {
    width: 500px;
  }
}
